#Client-Side
/.mixin.out/
/asm/
/astralsorcery/
/craftpresence/
/crash-reports/
/downloads/
/journeymap/
/llibrary/
/logs/
/mods/1.12.2/
/mods/memory_repo/
/mods/OptiFine_1.12.2_HD_U_G5_MOD.jar
/mputils/
/resourcepacks/
/saves/
/screenshots/
/shaderpacks/
/TombManyGraves/
/config/AppliedEnergistics2/VersionChecker.cfg
/config/AppliedEnergistics2/items.csv
/config/agricraft/json/*
!/config/agricraft/json/defaults/
/config/brandon3055/ProjectIntelligence/ModDocs/
/config/brandon3055/ProjectIntelligence/DocUpdater/
/config/brandon3055/ProjectIntelligence/PackDocs/
/config/brandon3055/ResourceCache/
/config/splash.properties
/config/jei/bookmarks.ini
/config/jei/worldSettings.cfg
.curseclient
BotaniaVars.dat
crafttweaker.log
knownkeys.txt
options.txt
optionsof.txt
optionsshaders.txt
patchouli_data.json
.ReAuth.cfg
minecraftinstance.json
mtservers.dat
OpenComputersMod-1.7.5.192-lua52-native.64.dll
OpenComputersMod-1.7.5.192-lua53-native.64.dll
roots.log
servers.dat
servers.dat_old
usercache.json
usernamecache.json
